<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Register</title>

</head>
<body>
<div class="topLogo">
    <div class="logo">logo</div>
</div>

<div class="container">
    <div class="jumbotron text-center">
        <div class="showSlogan">
            <p class="slogan">SLOGAN</p>
            <p class="sentence">One sentence introduce</p>
        </div>
        <div class="signLogView">
            <a style="font-size:20px;" href="/login">Login</a>
            <a style="font-size:18px;" href="/signup">Sign up</a>
            <a style="font-size:12px;" href="Mainfeed.ejs">View without login</a>
        </div>
    </div>
</div>

<div class="footer">
    <p>Footer</p>
</div>
</body>
</html>