<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="profile.css">
    <title>Login Register</title>
</head>
<body>
<!--
<div class="profile">
    <p>user: </p>
    <ul id="users"></ul>
</div>
-->
<div class="container">
    <div class="page-header text-center">
        <p class="topLeft">profile</p>

        <a class="topRight" href="/Mainfeed">Main feed</a>
        <a href="/logout">logout</a>

    </div>
</div>
<script type="text/javascript" src="/main.js"></script>
</body>
</html>